input {
	tcp {
		port => 5000
	}
}

## Add your filters / logstash plugins configuration here
filter {

  if [type] == "healthcheck" {
    drop {}
  }

  mutate {
    strip => "message"
  }

  grok {
    match => {
      "message" => "<%{POSINT:syslog_pri}>%{SYSLOGTIMESTAMP:syslog_timestamp} %{SYSLOGHOST:syslog_hostname}\[%{POSINT:syslog_pid}\]: %{TIMESTAMP_ISO8601:ml_date}(%{SPACE})? %{LOGLEVEL:ml_level} \[%{DATA:ml_service},%{DATA:ml_traceId},%{DATA:ml_spanId},%{DATA:ml_zipkin}\] %{INT} --- \[%{DATA:ml_thread}\] %{DATA:ml_classname} : %{GREEDYDATA:ml_message}"
    }
  }

 

}
output {
	elasticsearch {
		hosts => "elasticsearch:9200"
	}
}
